<div class="container">
  <h1 class="page-header">Sign In with a Provider</h1>
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="/auth/reddit" class="thumbnail" title="Sign in with Reddit">
        <%= image_tag 'reddit-484w.png', alt: 'reddit', width: '242' %>
      </a>
    </div>
    
  
</div>
